{% extends 'base.html.twig' %}

{% block title "S'enregistrer" %}

{% block body %}
  <div class="container mt-4">

      <form action="{{path("register")}}" method="post">
          <div class="form-group">
              <label for="username">Nom d'utilisateur</label>
              <input type="text" id="username" name="_username" class="form-control" />

              <label for="password">Mot de passe</label>
              <input type="text" id="password" name="_password" class="form-control" />

              <label for="password_confirmed">Confirmer le mot de passe</label>
              <input type="text" id="password_confirmed" name="_password_confirmed" class="form-control" />

              <label for="email">Email</label>
              <input type="text" id="email" name="_email" class="form-control" /><br />

              <button type="submit" class="btn btn-primary">S'enregistrer</button>
          </div>
      </form>
  </div>
{% endblock %}
